*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-dark: black;
    --background-white: #fff;
    --text-white: #fff;
    --text-black: black;
    --border-size: 1px;
    --border-type: solid;
    --border-color: black;
    --margin-y: 30px 0;
    --margin-bottom-120: 120px;
    --padding-y: 26px 0;
    --background-color-acquamarine: rgba(127,255,212,255);
    --color-lightblue: rgba(100,149,237,255);
    --margin-x: 20px;
    --margin-xx: 130px;
    --margin-t: 120px;
    --margin-tt: 100px;
    --cells-rows: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: var(--background-color-acquamarine);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;;
}

/* Utility */
.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.width-100px{
    width: 100px;
}

.text-start{
    text-align: start;
}

.text-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-capitalize{
    text-transform: capitalize;
}

.none{
    display: none;
}
/* Utility */


/* Header */
header{
    background-color: var(--background-white);
    margin-bottom: var(--margin-bottom-20);
}

.containerHeader{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    vertical-align: middle;
}

h1 {
    color: var(--text-black);
    padding: var(--padding-y); 
    vertical-align: middle;
    margin-left: var(--margin-x);
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.container {
    width: 40%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--margin-t);
    margin-bottom: var(--margin-bottom-120);
}

.paragrafo{
    justify-self: center;
}

.griglia{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--text-black);
  }

.box {
    width: calc(100% / var(--cells-rows));
    height: calc(100% / var(--cells-rows));
    border: var(--border-size) var(--border-type) var(--border-color);
    padding: 10px;
}

.box-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
    padding: 10px;
    border: 1px solid var(--border-color);
}
  
.box-9{
width: calc(100% / 9);
height: calc(100% / 9);
padding: 10px;
border: 1px solid var(--border-color);
}

.box-7{
width: calc(100% / 7);
height: calc(100% / 7);
padding: 10px;
border: 1px solid var(--border-color);
}
  
.clicked{
    background-color: var(--color-lightblue);
}

.bomba{
background-color: red;
}


footer{
    background-color: var(--background-white);
}

.containerFooter{
    width: 80%;
    margin: 0 auto;
    padding: var(--padding-y);
    display: flex;
    align-items: center;
}


